<nav>
    <a href="{% url 'account:index' %}" class
    >Home</a>
    <a href="{% url 'account:register' %}">Register</a>
    <a href="{% url 'account:login' %}">Login</a>
    <a href="{% url 'account:logout_user' %}">Logout</a>
    <a href="{% url 'account:change_password' %}">Change password</a>
    <a href="{% url 'account:reset_password' %}">Reset password</a>
    <a href="{% url 'account:change_email' %}">Change email</a>
    <a href="{% url 'account:user_detail' %}">User details</a>
    <a href="{% url 'account:user_list' %}">User list</a>
</nav>